#news::-webkit-scrollbar { width: 0; }
#rooms::-webkit-scrollbar { width: 0; }
body{
    background-color: rgb(140, 186, 243);
}
#news {
    overflow-y: scroll;
    position: relative;
    float: right;
    border: 3px ridge black;
    width: 23%;
    height: 93vh;
    background-color: aqua;
    border-radius: 20px;
    word-wrap: break-word;
}
#header {
    font-size: 8vh;
    text-align: center;
    padding: 2vh;
    border-bottom: 3px ridge black;
}
#container {
    overflow: hidden;
    position: relative;
    float: left;
    width: 75%;
}
#addRoom, #exit, #user{
    font-size: 8vh;
    text-align: center;
    padding: 2vh;
    float: right;
    display: inline-block;
    word-wrap: break-word;
}
#addRoom, #exit {
    background-color: #ffe360;
    border-radius: 10px;
}
#exit {
    background-color: #00ff82;
    border-radius: 10px;
}
#user {
    float: left;
    color: #d20055;
}
#rooms {
    overflow-y: scroll;
    clear: both;
    border: 3px ridge black;
    height: 80vh;
    background-color: aqua;
    border-radius: 20px;
}
#addRoom:hover, #exit:hover, .delete:hover, .room:hover {
    background-color: rgb(190, 247, 249);
    color: rgb(2, 1, 161);
    border-color: rgb(2, 1, 161);
    cursor: pointer;
}
#addRoom:active, #exit:active, .delete:active, .room:active {
    background-color: rgb(140, 225, 255);
}
.line, .div {
    position: static;
    width: 100%;
    margin: 10px;
    clear: both;
}
.room, .delete, .input {
    font-size: 7vh;
    text-align: center;
    padding: 0.5vh;
    border-radius: 5px;
    border-bottom: 1px ridge black;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 15px;
    float: left;
    display: block;
    word-wrap: break-word;
}
.delete {
    float: right;
}